.inp-checkbox {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.2;
  display: inline-block;
  vertical-align: top;
  input {
    position: absolute;
    opacity: 0;
    left: -999em;
    &:checked + svg.checked {
      opacity: 1;
      transform: scale(1);
    }
  }
  svg.checked {
    opacity: 0;
    transform: scale(0);
    width: 15px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: 3px;
    transition: all 0.3s ease;
  }
  &:after {
    width: 12px;
    height: 12px;
    border: 1px solid $clr-first-primary;
    border-radius: 3px;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 0;
  }
}

.inp-group {
  .input {
    background: #fff;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(0,0,0, .2);
    padding-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
    &::placeholder {
      color: rgba(0,0,0, .4);
    }
  }
  &-label {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0,0,0, .4);
    display: none;
    &--visible {
      display: block;
    }
  }
  &--error {
    .input {
      border-color: $clr-error;
      &::placeholder {
        color: $clr-error;
      }
    }
  }
}


.btn-submit {
  background: url(../img/arr-link.svg) 0 50% no-repeat;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding-left: 98px;
  transition: all 0.3s ease;
  @include qsm {
    padding-left: 70px;
    background-size: 48px auto;
  }
  &:hover {
    background-position: 25px 50%;
    color: $clr-first-primary;
    @include qsm {
      background-position: 10px 50%;
    }
    .btn-submit-text {
      border-color: rgba(0,0,0,0);
    }
  }
  &-text {
    display: inline-block;
    vertical-align: top;
    padding: 8px 0;
    border-bottom: 2px solid #0CA5E6
  }
}
