$font-stack: 'Geometria', Arial, sans-serif;
$clr-first-primary: #0CA5E6;
$clr-second-primary: #025294;
$clr-first-primary: #0CA5E6;
$clr-first-primary: #0CA5E6;
$clr-error: #DF2222;

$mq_xxs: 320px;
$mq_xs: 360px;
$mq_sm: 560px;
$mq_md: 719px;
$mq_lg: 1023px;
$mq_xl: 1279px;
$mq_xxl: 1439px;
